$black: #333;
$reddish: #A63821;
$orange: #f49457;
$yellow: #faba54;
$blue: #59889d;
$green: #9dba73;
$lilac: #ccb4c8;
$brown: #b5997d;
$water: #a3b9b6;

$red2: #DC6951;
$blue2: #90b1c0;
$green2: #c2cca1;
$yellow2: #fdcd80;
$orange2: #faba7d;

$neutral: #edece4;
$darkneutral: #cbcbc4;
$blackish: red;